<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; font-size: 27.3px; background-color: #3973ac; color: white; width: 100%; padding: 20px; margin: auto; height: 60px">Data Log</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="allData.length > 0" class="ion-padding">


  <ion-item *ngFor="let data of allData">
    <ion-card>
      <ion-button (click)="deleteData(data.id)" color="danger">delete</ion-button>
      <ion-card-header>{{ data.dateString() }} </ion-card-header>
      <ion-card-content>{{ data.summaryString() }}</ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>

<ion-content padding *ngIf="allData.length === 0">
  <ion-row>
    <h4 class="ion-text-center center">
      You have not recorded any data yet
    </h4>
  </ion-row>
</ion-content>
